console.log("development.js OK!!!");

(function(App, entry) {
    var softvis3d = new App({
        baseUrl: "http://localhost:9000/",
        projectKey: "berry-free-react-admin-template",
        isDev: true
    });

    softvis3d.run(entry);
})(window.softvis3d.App, "app");
